@import url('https://fonts.googleapis.com/css?family=Montserrat|Reem+Kufi|Handlee');

body, html{
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.menu {
    min-width: 27em;
    height: 100%;
    transition: 0.5s;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    display: inline-block;
}

.menuContent{
    width: 22em; 
    height: 100%;
    background-image: url('../media/food.png');
    background-repeat: repeat;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    transition: 0.5s;
}

.open{
    left:-22em;
}

#top{
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0px;
    margin-bottom: 5em;
}

#bottom{
    flex-grow: 0;
    margin-bottom: 20em;
}

.options{
    width: 100%;
    text-align: center;
}

h1{
    margin-top: 0pt;
    text-align: center;
    padding-top: 1em;
    font-family: 'Reem Kufi', sans-serif;
    font-size: 24pt;
    color: white;
}

h3{
    width: 4.5em;
    margin-right: 1em;
    display: inline;
    font-family: 'Reem Kufi', sans-serif;
    color: white;
    font-size: 15pt;
    letter-spacing: 2px;
}

.search{
    text-align: center;
    margin-bottom: 3em;  
}

.search input{
    border: 3px solid #f8a91a;
    text-indent: 5pt;
    margin-right: 1em;
    border-radius: 3pt;
    height: 2em;
    font-family:'Montserrat', sans-serif;
    color: #393630;
    width: 100%;
    max-width: 200px;
}

#searchButton{
    width: 60pt;
    height: 2.5em;
    border-radius: 3pt;
    font-family:'Montserrat', sans-serif;
    border: 0;
    color: white;
    background-color: #fa7a64;
}

#searchButton:hover, #lazyButton:hover{
    cursor: pointer; 
    background-color:black;
}

#lazyButton{
    display: block;
    position: relative;
    margin: 0 auto;
    width: 100pt;
    height: 2.5em;
    border-radius: 3pt;
    font-family:'Montserrat', sans-serif;
    font-size: 15pt;
    color: white;
    background-color: #fa7a64;
    border: none;
}

#searchBar, #searchButton, 
.cuisine, .course, #lazyButton:focus {outline:0;}


.options select{
    margin-bottom: 2em;
    height: 2em;
    width: 140pt;
    border-radius: 3pt;
    font-family:'Montserrat', sans-serif;
    border: 3px solid #f8a91a;
    cursor: pointer;
    padding-left: .5em;
    margin-left: 1em;
    color: #393630;
}

.allergens{
    text-align: left;
    margin-top: 1em;
    position: relative;
    margin: 0 auto;
    max-width: 300px;
}

.allergens table{
    width: 100%;
}

.allergens table tr td{
    padding-left: 1em;
}

 label{
	 font-family:'Montserrat', sans-serif;
	 font-weight: 600;
	 width: 85%;
	 float: left;
	 cursor: pointer;
	 padding-top: 5pt;
	 color: #393630;
}

input[type="checkbox"] + label {
	line-height: 2.5em;
}

input[type="checkbox"] {
	display: none;
}

input[type="checkbox"] + label:before {
	content: "";
	width: 20px;
	height: 20px;
	float: left;
	margin-right: 0.5em;
	border: 2px solid #f8a91a;
	background: #fff;
	margin-top: 0.5em;
}

input[type="checkbox"]:checked + label:after {
	content: "";
	width: 12px;
	height: 6px;
	border: 4px solid #0fbf12;
	float: left;
	margin-left: -1.75em;
	border-right: 0;
	border-top: 0;
	margin-top: .8em;
	transform: rotate(-55deg);
}

input[type="checkbox"]:checked + label:before {
	border-color: #0fbf12;
}

#foodPage{
    height: 100%;
    overflow-x: hidden;
    background-color: #E7E0D5;
}

.dish{
    position: relative;
    width: 100%;
    max-width: 35em;
    background-color: #f9f9f9;
    border-radius: .5em;
    padding: 1em 0em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(204, 196, 185, 0.19);
    margin-left: 3em;
    margin-right: 3em;
    margin-top: 5em;
    margin-bottom: 1em;
    border: 1px solid white;
}

.dish:focus {outline:0;}

.dish h4{
    max-width: 500px;
    text-align: center;
    margin: 0 auto;
    margin-top: .5em;
    font-family: 'Reem Kufi', sans-serif;
    font-weight: bold;
    font-size: 20pt;
    color: #393630;
}

.detail_div{
    width: 100%;
    max-width: 30em;
    min-height: 21em;
    position: relative;
    margin: 0 auto;
}

.dish h5{
    width: 100%;
    text-align: left;
    margin-bottom: 0;
    margin-top: 0;
    font-weight: bold;
    font-family: 'Reem Kufi', sans-serif;
    font-size: 16pt;
    color: #393630;
}

.ingredients{
    width: 100%;
    max-width: 35em;
    height: 100%;
    max-height: 14.5em;
    overflow-x: hidden;
    overflow-y: auto;
    margin: 0;
    margin-top: .5em;
    word-wrap: break-word;
    font-family:'Montserrat', sans-serif;
    padding: 0;
    list-style-type: none; 
}

.ingredients li{
    width: 30em;
    text-align: left;
    margin: 0;
    margin-bottom: .5em;
    font-family:'Montserrat', sans-serif;
    word-wrap: break-word;
}

.yummly_link a:focus {outline:0;}

.yummly_link p{
    margin: 0 auto;
    max-width: 30em;
    text-align: left;
    padding-bottom: 1em;
}

.yummly_link a{ 
    text-decoration: none;
    font-family: 'Reem Kufi', sans-serif;
    font-weight: bold;
    color: #fa7a64;
}

.yummly_link a:hover{
    color: #393630;
}

.food_image img{
    position: relative;
    margin: 0 auto;
    pointer-events: none;
    margin-bottom: 1em;
    width: 100%;
    padding: 0;
    max-width: 30em;
    border: 5px solid white;
}

.bookmark{
    position: absolute;
    width: 8%;
    top:-1%;
    right:3%;
    border: none;
}

#mapDiv{
    position: relative;
    margin:0 auto;
    padding:0;
    width:80%;
    height: 600px;
    border:2em solid rgba(255,255,255, .8);
    border-radius: 1em;
}
#mapPage{
    width: 100%;
    text-align: center;
}

#mapTitle{
    margin-bottom: 0;
    font-family:'Montserrat', sans-serif;
    font-size: 16pt;
    color: white;
    text-shadow: 0px 0px 3px #000, -1px -1px #000, 0px 3px #000;
    letter-spacing: 2px;
}

.issues{
    position: relative;
    margin: 0 auto;
    text-align: center;
    font-family:'Montserrat', sans-serif;
    font-size: 16pt;
    color: white;
    text-shadow: 0px 0px 3px #000, -1px -1px #000, 0px 3px #000;
    letter-spacing: 2px;
}

.ingredients::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

.ingredients::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

.ingredients::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #393630;
}

.togglebtn{
    float: right;
    z-index: 100;
    width: 5em;
    height: 4em;
    background-color: #FAC565;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.toggleContainer{
    position: relative;
    margin: 0 auto;
    width: 3em;
    margin-top: 10px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}


.togglebtn span{
    display: block;
    position: absolute;
    height: 5px;
    width: 100%;
    background: #d3531a;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
    background: white;
}

.togglebtn span:nth-child(1) {
  top: 0px;
}

.togglebtn span:nth-child(2),.togglebtn span:nth-child(3) {
  top: 18px;
}

.togglebtn span:nth-child(4) {
  top: 36px;
}

.togglebtn.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

.togglebtn.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.togglebtn.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.togglebtn.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}

@media screen and (max-width: 960px){

}

@media screen and (max-width: 768){

}

@media screen and (max-width: 480px){
  
    
}



